.form {
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.form legend {
    display: block;
    background-color: black;
    width: 100%;
    font-size: 22px;
    color: white;
    height: 35px;
    padding-top: .5em;
    
}