.navbar {
    position: fixed;
    margin: 0;
    top: 0;
    text-decoration: none;
    background-color: black;
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
}

.navbar button {
    color: white;
    text-decoration: none;
    background-color: black;
    height: 25px;
    width: 100px;
}

.btn:hover {
    background-color: grey;
    color: orange;
}