.App {
  /* background-image: 
    url('images/fire-and-ice.jpg'),
    linear-gradient( #000,#000);
  background-size: cover; 
  opacity: .85; */
  text-align: center;
}

.App-header {
  padding-top: 50px;
  padding-bottom: 10px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}